@import url("global.css");

.cont {
    display: flex;
    height: 100vh;
}

.sidebar {
    background-color: var(--primary);
    padding: 35px 15px 15px 15px;
    border-right: 1px solid #E0E0E0;
}

.navbar {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nav-link {
    color: black;
    padding: 15px;
    transition: all;
    transition-duration: 400ms;
    cursor: pointer;
    border-radius: 10px;
}

.nav-link:hover {
    background-color: #2c352e;
    color: white;
    border-radius: 25px;
}

.main-cont {
    width: 100%;
    padding: 40px;
    background-color: var(--bg-board);
    overflow: auto;
    scrollbar-width: none;
}

.mansory-cont {
    background-color: #55775e;
    background-image:
        radial-gradient(circle at center, rgba(255, 255, 255, 0.05) 0%, transparent 80%),
        url("https://www.transparenttextures.com/patterns/p6-polyester.png");
    box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.2);
    border: 20px solid #5d4037;
    border-image-source: linear-gradient(#5d4037, #5d4037),
        url('https://www.transparenttextures.com/patterns/wood-pattern.png');
    border-image-slice: 30;
    border-image-repeat: round;
    box-shadow:
        inset 0 0 50px rgba(0, 0, 0, 0.4),
        0 20px 40px rgba(0, 0, 0, 0.5);
    width: 1250px;
    margin: 0 auto;
    padding: 60px 60px 60px 30px;
    display: block;
    column-count: 4;
}

.logo-cont {
    font-size: 38px;
    font-family: var(--font-logo);
    border-bottom: 1px solid #E0E0E0;
    padding: 20px;
}



.loader-cont {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #2c352e;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 0.5s ease, visibility 0.5s;
}

.loader-content {
    text-align: center;
    color: white;
}

.logo-loader {
    font-family: var(--font-logo);
    font-size: 80px;
    margin-bottom: 20px;
    animation: pulse 1.5s infinite;
}

.progress-bar {
    width: 200px;
    height: 4px;
    background: rgba(255, 255, 255, 0.1);
    margin: 0 auto 10px;
    position: relative;
    overflow: hidden;
}

.progress-bar::after {
    content: "";
    position: absolute;
    width: 40%;
    height: 100%;
    background: #6d9678;
    animation: loadingMove 1s infinite linear;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 0.8;
    }

    50% {
        transform: scale(1.05);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 0.8;
    }
}

@keyframes loadingMove {
    0% {
        left: -40%;
    }

    100% {
        left: 100%;
    }
}

.loader-hidden {
    opacity: 0;
    visibility: hidden;
}